@charset "UTF-8";
@import 'utils/_keyframes.css';
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.header__logo__menu {
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  position: relative;
}

#header__logo__image {
  width: 35%;
  height: 32%;
  min-height: 0px;
  max-height: 80px;
  margin-bottom: 10px;
}

.header__fleche {
  display: flex;
  position: absolute;
  left: 20px;
  top: 18px;
  font-size: 25px;
}

.fa-arrow-left:before {
  content: "\f060";
  color: #000000;
}

.main__images {
  display: flex;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: -10px;
}

.main__titre {
  display: flex;
}

.main__titre__menu {
  display: flex;
  margin-top: -30px;
  position: relative;
}

.main__titre__coeur {
  position: absolute;
  right: 1px;
  margin-right: 30px;
  margin-top: -45px;
}

.main__titre__texte {
  width: 100%;
  background-color: white;
  border-radius: 30px 30px 0% 0%;
  font-size: 1.4em;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: -10px;
  font-family: "Shrikhand";
}

.fa-heart:before {
  content: "\f004";
}

/*FIN*/
/*Menu Entrées*/
.main__menu {
  /*
          @keyframes wheelHueColor {
      from, to { color: hsl(324, 70%, 45%); }
      10%      { color: hsl(360, 65%, 45%); }
      20%      { color: hsl( 36, 80%, 45%); }
      30%      { color: hsl( 72, 75%, 35%); }
      40%      { color: hsl(108, 65%, 35%); }
      50%      { color: hsl(144, 75%, 35%); }
      60%      { color: hsl(180, 75%, 35%); }
      70%      { color: hsl(216, 60%, 45%); }
      80%      { color: hsl(252, 65%, 50%); }
      90%      { color: hsl(288, 60%, 40%); }
  }
  */
  /*ANIMATION*/
  /*FIN*/
}
.main__menu__all {
  display: flex;
  margin-left: 20px;
}
.main__menu__titre {
  display: flex;
  text-decoration: none;
  border-bottom: 2px solid #99e2d0;
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 1em;
}
.main__menu h2 {
  font-weight: 300;
  font-size: 1em;
}
.main__menu__choix1 {
  display: flex;
  margin-left: 20px;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
  margin-right: 5px;
  position: relative;
  width: auto;
  animation: progress-menu 500ms;
  margin-bottom: 20px;
}
.main__menu__choix1:active {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8043328615) 88%, #99e2d0 88%);
  padding-right: 12%;
  animation: progress-bar 1000ms;
}
.main__menu__choix1:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8043328615) 88%, #99e2d0 88%);
  padding-right: 12%;
  animation: progress-bar 1000ms;
}
@keyframes progress-bar {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(1%);
  }
}
@keyframes progress-menu {
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main__menu .main__menu__description {
  display: inline-block;
  width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 0.95em;
}
.main__menu__plat {
  font-weight: 500;
  font-size: 1.1em;
}
.main__menu .main__menu__super {
  display: flex;
  margin-top: 20px;
}
.main__menu .main__menu__prix {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  margin-right: 8px;
  width: 20px;
  height: 40px;
  border-radius: 0px 7px 7px 0px;
  font-weight: 500;
  font-size: 1.2em;
}
.main__menu .fa-check-circle {
  content: "\f058";
  font-size: 1.4em;
  position: absolute;
  right: 11px;
  font-weight: bold;
  color: white;
  margin-top: -1px;
  animation: rotation 1.4s normal linear;
}
@keyframes rotation {
  80% {
    transform: rotate(0deg);
    color: white;
  }
  100% {
    transform: rotate(360deg);
    color: white;
  }
}
.main__menu__choix2 {
  display: flex;
  margin-left: 20px;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
  margin-right: 5px;
  position: relative;
  width: auto;
  animation: progress-menu2 500ms;
  margin-bottom: 20px;
}
.main__menu__choix2:active {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8043328615) 88%, #99e2d0 88%);
  padding-right: 12%;
  animation: progress-bar 1000ms;
}
.main__menu__choix2:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8043328615) 88%, #99e2d0 88%);
  padding-right: 12%;
  animation: progress-bar 1000ms;
}
@keyframes progress-menu2 {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main__menu__choix3 {
  display: flex;
  margin-left: 20px;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
  margin-right: 5px;
  position: relative;
  width: auto;
  animation: progress-menu3 500ms;
  margin-bottom: 20px;
}
.main__menu__choix3:active {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8043328615) 88%, #99e2d0 88%);
  padding-right: 12%;
  animation: progress-bar 1000ms;
}
.main__menu__choix3:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8043328615) 88%, #99e2d0 88%);
  padding-right: 12%;
  animation: progress-bar 1000ms;
}
@keyframes progress-menu3 {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bouttonexplorer {
  display: flex;
  align-items: center;
  background: linear-gradient(143deg, #ff79da 22%, #9356dc 77%);
  border-radius: 25px;
  width: 50%;
  height: 50px;
  justify-content: center;
  margin-left: 25%;
  margin-top: 52px;
  margin-bottom: 82px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.bouttonexplorer:hover {
  background: linear-gradient(143deg, rgba(255, 121, 218, 0.8043328615) 22%, rgba(147, 86, 220, 0.8043328615) 77%);
  box-shadow: 1px 2px 10px black;
}

.bouttonconfig {
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 4px 0px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

#header__logo__image {
  width: 35%;
  height: 32%;
  min-height: 0px;
  max-height: 80px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.main__villes {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand";
  font-weight: bold;
}

.fa-map-marker-alt:before {
  display: flex;
  content: "\f3c5";
  font-size: 0.8em;
  margin-right: 10px;
}

body {
  position: relative;
}

.chargement {
  /*creation du loader*/
  border: 10px solid #99E2D0;
  border-top: 10px solid #FF79DA;
  border-bottom: 10px solid #9356DC;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: rotation 2s linear;
  animation-fill-mode: forwards;
  /*placement du loader milieu de la page*/
  position: absolute;
  margin-left: 39%;
  margin-top: 40%;
}

/*animation du loader*/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
    color: #c32283;
    visibility: visible;
  }
  99% {
    color: #c32283;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
.background {
  background-color: currentColor;
  display: flex;
  width: 100%;
  height: 100%;
  animation: degrader 2s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes degrader {
  0% {
    color: #FF79DA;
    visibility: visible;
  }
  50% {
    color: #9356DC;
  }
  100% {
    color: #99E2D0;
    visibility: hidden;
  }
}
/*animation du loader
@keyframes spin {

    0%  {

            transform: rotate(0deg);
        }
    99% {

            opacity: 1;
        }
    100% {
            transform: rotate(360deg);
            opacity: 0;
                 }   
         }

*/
/*FIN*/
.main__villes, p {
  display: flex;
  font-size: 1.2em;
  font-family: "Roboto";
  font-weight: 500;
}

.main__presentation {
  text-align: center;
  margin-top: 45px;
}
.main__presentation__reserver {
  margin-top: 20px;
}
.main__presentation__reserver, .main__presentation h1 {
  font-weight: bold;
  font-size: 1.4em;
}
.main__presentation__reserver, .main__presentation h2 {
  font-size: 1em;
  font-weight: normal;
  margin-top: 0px;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.main__presentation__bouttonexplorer {
  display: flex;
  align-items: center;
  background: linear-gradient(143deg, #ff79da 22%, #9356dc 77%);
  border-radius: 25px;
  width: 51%;
  height: 50px;
  justify-content: center;
  margin-left: 25%;
  margin-top: 30px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}
.main__presentation__bouttonexplorer:hover {
  background: linear-gradient(143deg, rgba(255, 121, 218, 0.8043328615) 22%, rgba(147, 86, 220, 0.8043328615) 77%);
  box-shadow: 1px 2px 10px black;
}
.main__presentation__bouttonconfig {
  font-size: 1em;
  font-weight: 500;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}

/**Fonctionnement*/
.main__fonctionnement {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 70px;
  margin-bottom: 60px;
}
.main__fonctionnement__titre {
  font-size: 0.7em;
  margin-left: 25px;
  letter-spacing: 0.1em;
}
.main__fonctionnement__taille {
  margin-bottom: 40px;
}
.main__fonctionnement__un {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
  align-items: center;
}

.position__texte {
  margin-left: 30px;
}

.numero {
  background-color: #9356dc;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  color: white;
  margin-right: 20px;
}
.numero__choix {
  margin-left: 9px;
  margin-top: 5px;
  margin-right: 0px;
}

.fa-mobile-alt:before {
  display: flex;
  content: "\f3cd";
  margin-left: 7px;
  margin-right: 0px;
}

.fa-tasks:before {
  content: "\f0ae";
  margin-left: 3px;
  margin-right: 0px;
}

.fa-store:before {
  content: "\f54e";
  margin-left: 3px;
  margin-right: 0px;
}

/*FIN*/
/*Restautant*/
.main__restaurants__plats {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*
  position: relative;
  */
}
.main__restaurants__secteur {
  display: flex;
  width: 88.5%;
  height: auto;
  border-radius: 0% 0% 25px 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 5px;
}
.main__restaurants__block {
  display: flex;
  flex-direction: column;
  line-height: 12px;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 5px;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  line-height: 0.2em;
  font-size: 1em;
  font-weight: 400;
}
.main__restaurants__icone {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}
.main__restaurants__titre, .main__restaurants h1 {
  font-size: 1.25em;
  margin-left: 3%;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.main__restaurants__taille {
  margin-left: 0px;
}
.main__restaurants__images {
  width: 99%;
  min-height: 180px;
  max-height: 250px;
  border-radius: 25px 25px 0% 0%;
  height: 10%;
  object-fit: cover;
}
.main__restaurants__imgliens {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 90%;
  min-height: 180px;
  max-height: 250px;
}
.main__restaurants__lien {
  color: black;
  text-decoration: none;
  font-size: 1em;
}
.main__restaurants__nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  min-height: 30px;
  background-color: #99e2d0;
  position: relative;
  right: -155px;
  top: 35px;
  font-size: 1em;
}
.main__restaurants__couleur {
  position: absolute;
  color: #078b6b;
}
.main__restaurants__corection {
  font-size: 1.1em;
  font-weight: 700;
}
.main__restaurants__souscorection {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 10px;
  margin-bottom: 13px;
}

/*icone*/
.fa-heart:before {
  content: "\f004";
  font-size: 1.5em;
  transition: 1s;
}

.fa-heart:active::before {
  content: "\f004";
  font-weight: bold;
  color: #FF79DA;
  transform: scale(1);
}

.fa-heart:hover::before {
  content: "\f004";
  font-weight: bold;
  color: #FF79DA;
  transform: scale(1);
}

/*fin*/
h2 {
  font-size: 0.9em;
  font-weight: bold;
}

p {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.8em;
}

/**FIN*/
/*Bas de page*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
}

.footer__textes {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.footer__textes__proposer {
  display: flex;
  align-items: baseline;
  color: white;
  font-size: 1.2em;
}
.footer__textes__devenir {
  display: flex;
  align-items: baseline;
  color: white;
  font-size: 1.2em;
}
.footer__textes__contact {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2em;
  margin-left: 0px;
}

a {
  color: white;
  font-size: 0.8em;
  margin-left: 0px;
  text-decoration: none;
  font-weight: 500;
}

.header__logo__image__basdepage {
  margin-left: 15px;
  margin-top: 15px;
  width: 100px;
  filter: invert(100%);
}

.fa-utensils:before {
  content: "\f2e7";
  font-size: 13px;
  margin-right: 6px;
}

.fa-hands-helping:before {
  content: "\f4c4";
  font-size: 13px;
  margin-right: 3px;
}

/*FIN*/
body {
  margin: 0%;
}

/*# sourceMappingURL=style.css.map */
