.main__presentation
{

    text-align: center;
    

    &__reserver {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 20px;
            

        }

    &__bouttonexplorer {
            display: flex;
            background-color: #dc6eda;
            border-radius: 25px;
            width: 50%;
            color: white;
            font-weight: bold;
            font-size: 0.8em;
            justify-content: center;
            margin-left: 25%;
                       
    }

    


    &__position{
        
        font-size: 0.7em;
        font-weight: normal;
        margin-top: 0px;

}

}


/**Fonctionnement*/


.main__fonctionnement
{
    display: flex;
    flex-direction: column;
    
    


        &__titre{
                font-size: 1.1em;
                padding-bottom: 15px;
                padding-top: 30px;

            }

        &__un {

            display: flex;
            flex-direction: row;
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 30px;
            margin-left: 25px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
            padding-bottom: 10px;
            align-items: center;

            }
}

.position__texte{
    
    margin-left: 30px;
    
}


.numero{
    background-color: #9356dc;
    height: 20px; 
	width: 20px;
    border-radius: 50%;
    color: white;
    margin-right: 20px;




        &__choix{
            margin-left: 6px;
            margin-top: 3px;
            margin-right: 0px;
            }
}


.fa-mobile-alt:before {
    display: flex;
    content: "\f3cd";
    margin-left: 7px;
    margin-right: 0px;

}

.fa-tasks:before {
    content: "\f0ae";
    margin-left: 3px;
    margin-right: 0px;
}


.fa-store:before {
    content: "\f54e";
    color: #9356dc;
    margin-left: 3px;
    margin-right: 0px;
}


/*FIN*/





/*Restautant*/



img {
    width: 90%;
    min-height: 150px;
    max-height: 300px;
    border-radius: 7% 7% 0% 0%;
    height: 10%;
    align-content: center;
    justify-content: center;
    object-fit: cover;
    
  
}

.main__restaurants{



        &__plats{

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__secteur{
            display: flex;
            width: 90%;
            height: auto;
            background-color: rgb(255, 255, 255);
            border-radius: 0% 0% 7% 7%;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
            border-left: 1px solid rgba(0, 0, 0, 0.1) ;
            border-right: 1px solid rgba(0, 0, 0, 0.1) ;
            
            

        }

        &__block, h2 {
            display: flex;
            flex-direction: column;
            margin: 0px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            

        }



        &__icone{
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: 30px;
        }

        &__titre, h1{
            font-size: 1.1em;
            margin-left: 5%;
        }

        &__taille{
            margin-left: 0px;
        }


}


.fa-heart:before {
    content: "\f004";
    font-size: 20px;
    color: rgb(0, 0, 0);
}


h2{
    font-size: 0.9em;
    font-weight: bold;
}

p{
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;

    font-size: 0.8em;
}




/**FIN*/



