/*Bas de page*/

footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;

}

.footer__textes{
    display: flex;
    flex-direction: column;
    margin: 15px;


        &__proposer{
            display: flex;
            align-items: baseline;
            color: white;
            font-size: 1.2em;
        }

        &__devenir{
            display: flex;
            align-items: baseline;
            color: white;
            font-size: 1.2em;
        }
        
        &__contact{
            display: flex;
            flex-direction: column;
            color: white;
            font-size: 1.2em;
            margin-left: 0px;
        }

}

a{
    
  
            color: white;
            font-size: 0.8em;
            margin-left: 0px;
            text-decoration: none;
            font-weight: 500;

}

.header__logo__image__basdepage{
    margin-left: 15px;
    margin-top: 15px;
    width: 100px;
    filter: invert(100%);
    animation: triche 2s linear;
    animation-fill-mode : forwards;
    
}

@keyframes triche {
    0%        { 
              visibility: hidden;
              }
  
    99%      {
              visibility: hidden;}
  
  
    100%      {
               visibility: visible;
              }
  }



  

.fa-utensils:before {
    content: "\f2e7";
    font-size: 13px;
    margin-right: 6px;
}


.fa-hands-helping:before {
    content: "\f4c4";
    font-size: 13px;
    margin-right: 3px;
}



/*FIN*/