@media screen and (min-width: 768px) {
    /*Photo du menu*/
    .main__images {
        height: 500px;
    }

    /*fin*/

    /*Titre du menu*/
    .main__titre__menu {
        text-align: center;
    }

    /*fin*/

    /*Listes des menus*/
    .main__menu__letout {
        display: flex;
        flex-direction: row;
        align-content: center;

        margin: 0px;
        padding: 0px;
    }

    .main__menu__leToutPartie {
        display: flex;
        flex-direction: column;
    }

    .mmain__menu__leToutPartie2 {
        display: flex;
        flex-direction: row;
    }

    .main__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*FIN*/

    /*Boutton*/

    .bouttonexplorer {
        display: flex;
        flex-direction: column;
        margin: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 200px;
    }

    /*FIN*/

    /*Fonctionnement*/

    .main__fonctionnement__un {
        width: 40%;
    }

    .main__fonctionnement__deux {
        width: 40%;
    }

    /*FIN*/

    /*Animation au survol de la sourie*/

    .main__menu__lot:hover {
        .main__menu__rectexte {
            animation: droite__blanc 2s linear;

            animation-timing-function: cubic-bezier(0.21, 0.84, 0.17, 1);
            animation-fill-mode: forwards;
        }

        .fa-check-circle {
            animation: rotationvalidation 1.4s normal linear;
            animation-timing-function: cubic-bezier(0.25, 0.72, 0.33, 0.84);

            animation-fill-mode: forwards;
        }
    }

    /*FIN*/

    /*Pied de page*/

    .footer__textes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
