@media screen and (min-width: 768px)
{

    /*restaurant titre centrer*/
    .main__restaurants__titre{
        display: flex;
        justify-content: center;
        margin: 0px;
    }


    
    .main__restaurants__images {
        width: 99%;
    min-height: 180px;
    max-height: 250px;
    height: 10%;
    border-radius: 25px 25px 0% 0%;
    object-fit: cover;
    margin-left: 4px;
        
    }

    .main__restaurants__images2 {
        width: 360px;
        max-height: 250px;
        margin-top: -11px;
        
    }


    .main__restaurants__secteur{
        display: flex;
        align-content: center;
        width: 88.5%;
        margin-top: -23px;
        margin-left: 4px;
        padding-top: -20px;

        
    }

    .main__restaurants__secteur2{
        margin-top: -35px;

        
    }

   .main__restaurants__imgliens{
        margin-top: 0px;

        
    }
   

 

    .main__restaurants__nouveau{
        visibility: hidden;
    }

    
    .main__restaurants__plats{
        display: flex;
        flex-direction: column;
        
    }

  .letout{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 50px;
  }




    /*Alignement bouton et presentation*/

    .main__presentation {
    
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    /*Bouton Explorer nos restaurants*/

    .main__presentation__bouttonexplorer {
        display: flex; 
        align-items: center; 
        justify-content: center;   
        width: 30%;
        height: 50px;         
        background: linear-gradient(143deg, $colour-secondaire 22%, $colour-primaire 77%);
        box-shadow: 1px 2px 10px rgba($color: $colour-noir, $alpha: 0.5);              
        border-radius: 25px;
        margin: 0px;



    }

    /*Centrage des fonctionnements*/

    .main__fonctionnement{
        display: flex; 
        align-items: center; 
        justify-content: center;  
        
        
    }




}